@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #000000 !important;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  text-shadow: none !important;
  -webkit-text-stroke: 0px transparent !important;
}

#root {
  background-color: #000000 !important;
}